@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: "Poppins", "Helvetica Neue";
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background-image: url(bg.jpg);
}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: darkgray;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}